<img src="https://i.redd.it/6d12g42n17z91.jpg" alt="" class="meu-mano-pedra"/>

<h1>New Article</h1>

<%= render "form", article: @article %>

<%= link_to "Início", root_path %>
<div class="space-taker"><br></div>