/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    font: 1.2rem "Fira Sans", sans-serif !important;
    --background-color: #10002b;
    --primary-color: #9d4edd;
    --secondary-color: #e0aaff;
    --terciary-color: #240046;
    
}

body{
    animation: cores 3s;
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;

    background-color: var(--background-color);

    color: white;

    margin: 0 auto;
    padding: 0;
    width: 80vw;
    height: 100vh;
    text-align: justify;
}

ul {
    list-style-type: none;
}

.artigos-itens {
    margin: 1rem;
    text-align: center;
}

h1 {
    font-size: 2rem !important;
    font-weight: bold !important;
    margin-bottom: 0;
}

h2 {
    margin: 3rem 0 0 0;
    font-weight: bolder !important;
}

form {
    position: relative;
    width: 50vw;
}

div {
    margin: 0.5rem;
}

label {
    font-size: 1rem !important;
    /* border: 2px solid red; */
}

input, textarea, select {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border-style: none;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0.3rem 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

textarea {
    resize: vertical;
    height: 15rem;
}

input {
    background-color: white;
    color: black;
}

textarea {
    background-color: white;
    color: black;
    resize: none;
}

input[type="submit"] {
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
    width: 30%;
    text-align: center;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: var(--terciary-color);
}

a {
    text-decoration: none;
    color: yellowgreen;
}

select, option {
    text-decoration: none;
    background-color: white;
    color: black;
    width: 30%;
}

select:hover {
    text-decoration: none;
}

.meu-mano-pedra {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-top: 3rem;
}

.meu-mano-pedra:hover {
    animation: rodadinha 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    animation-iteration-count: 2;
}

@keyframes rodadinha{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-20deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(20deg);}
    100%{transform: rotate(0deg);}
}

.articles {
    margin-bottom: 1rem;
}

.article-title {
    margin-top: 5rem;
}

.edit-delete-article {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.edit-delete-article > li {
    text-align: center;
}

strong {
    font-weight: bolder;
}

.article-body {
    white-space: pre-wrap;
}

.comment {
    width: 50%;
}

.space-taker {
    margin-top: 1rem;
}